.ion-color-readcyclecolor {
	--ion-color-base: var(--ion-color-readcyclecolor);
	--ion-color-base-rgb: var(--ion-color-readcyclecolor-rgb);
	--ion-color-contrast: var(--ion-color-readcyclecolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-readcyclecolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-readcyclecolor-shade);
	--ion-color-tint: var(--ion-color-readcyclecolor-tint);
}
.info{
	font-size: medium;
}
.button-group {
	display: flex;
	gap: 8px; /* Espacio entre los botones */

  }
  .paypal {
	display: flex; /* Para centrar */
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente si es necesario */
	margin-top: 20px; /* Espaciado superior */
	transform: scale(0.8); /* Reduce el tamaño del botón (ajusta el valor si es necesario) */
	max-width: 300px; /* Tamaño máximo */
	margin-left: auto; /* Centra el contenedor */
	margin-right: auto; /* Centra el contenedor */
  }