/* CSS de tu componente mapa */
#map {
    height: 100%; /* Ajusta al tamaño del contenedor */
    width: 100%;
    position: relative;
    z-index: 0; /* Asegúrate de que tenga una prioridad más baja que otros elementos superpuestos */
}