/* General */
.publicaciones-list {
	max-width: 600px;
	margin: 0 auto;
  }
  
  .card-publicacion {
	display: flex;
	position: relative; /* Contenedor relativo para los elementos absolutos dentro */
	margin-bottom: 15px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  .card-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 10px;
  }
  
  /* Imagen del libro */
  .image-container {
	flex-shrink: 0;
  }
  
  .main-image {
	width: 100px;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
  }
  
  .no-image {
	width: 100px;
	height: 120px;
	background-color: var(--ion-color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: var(--ion-color-medium);
  }
  
/* Contenedor para la cabecera */
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Distribuye título y botón */
	width: 100%; /* Asegura que ocupe todo el ancho */
  }
  
  /* Títulos dentro de la cabecera */
  .header-container div {
	flex-grow: 1; /* Permite que el texto del título use el espacio disponible */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  /* Botón de edición */
  .edit-icon {
	position: absolute; /* Posiciona el botón de manera absoluta dentro de la tarjeta */
	top: 10px; /* Ajusta esta distancia para acercarlo a la parte superior */
	right: 10px; /* Ajusta esta distancia para colocarlo cerca del borde derecho */
	z-index: 1; /* Asegura que esté por encima de otros elementos */
  }
  