<ion-header [translucent]="true">
  <ion-toolbar color="readcyclecolor">
    <ion-title>
      Mis Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let publicacion of publicaciones$ | async" (click)="abrirModal(publicacion)">
      <ion-card-header>
        <ion-card-title>{{ publicacion.titulolibro }}</ion-card-title>
        <ion-card-subtitle>{{ publicacion.autor }} - {{ publicacion.genero }}</ion-card-subtitle>
      </ion-card-header>

      <!-- Cuadro que simula la imagen -->
      <div style="width: 100%; height: 150px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
        <ion-icon name="image-outline" size="large"></ion-icon>
      </div>

      <!-- Icono de edición en la esquina superior derecha -->
      <ion-button fill="clear" color="readcyclecolor" size="small" (click)="editarPublicacion(publicacion, $event)" class="edit-icon">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>

