<ion-header [translucent]="true">
  <ion-toolbar color="readcyclecolor">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Condición para mostrar un mensaje si no hay favoritos -->
  <div *ngIf="!(favoritos$ | async)?.length; else favoritosList" style="text-align: center; margin-top: 20px;">
    <ion-card class="ion-text-center">
      <ion-card-content>
        <div class="icon-container">
          <div class="main-icon">
            <ion-icon name="book-outline" size="large"></ion-icon>
          </div>
          <div class="sub-icon">
            <ion-icon name="heart-dislike-outline"></ion-icon>
          </div>
        </div>
        <h2>Tu estantería de favoritos está vacía</h2>
        <p>
          Aún no has marcado ningún libro como favorito. ¡Descubre historias increíbles            y guarda tus libros preferidos!
        </p>
        <ion-button color="readcyclecolor" expand="block" (click)="buscaLibros()">
          Explorar catálogo de libros
          <ion-icon   name="search-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Lista de favoritos -->
  <ng-template #favoritosList>
    <ion-list>
      <ion-card 
        *ngFor="let publicacion of favoritos$ | async" 
        (click)="abrirModal(publicacion)" 
        class="card-detalles">
        
        <!-- Imagen del libro -->
        <div *ngIf="publicacion.imagenesUrl && publicacion.imagenesUrl.length > 0; else noImages" class="book-image">
          <img [src]="publicacion.imagenesUrl[0]" alt="Imagen del libro" />
        </div>
        
        <!-- Contenido del card -->
        <div class="book-info">
          <ion-card-header>
            <ion-card-title>{{ publicacion.titulolibro }}</ion-card-title>
            <ion-card-subtitle>Género: {{ publicacion.genero }}</ion-card-subtitle>
            <ion-card-subtitle>Autor: {{ publicacion.autor }}</ion-card-subtitle>
            <h4>
              {{ publicacion.precio === 0 ? 'Intercambio' : (publicacion.precio | currency:'$':'symbol':'1.0-0') }}
            </h4>
            <p>Publicado hace {{ calcularTiempoTranscurrido(publicacion.fechaCreacion) }}</p>
          </ion-card-header>
        </div>

        <!-- Botón de favoritos al costado derecho -->
        <div class="favorite-button">
          <ion-button fill="clear" [color]="publicacion.esFavorito ? 'danger' : 'medium'" (click)="onAnadirAFavoritos(publicacion, $event)">
            <ion-icon [name]="publicacion.esFavorito ? 'heart' : 'heart-outline'"></ion-icon>
          </ion-button>
        </div>

        <!-- Plantilla para ausencia de imágenes -->
        <ng-template #noImages>
          <div class="no-image">
            <ion-icon name="image-outline" size="large"></ion-icon>
          </div>
        </ng-template>
      </ion-card>
    </ion-list>
  </ng-template>
</ion-content>





