<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="login()" expand="block" fill="outline" shape="round">
    hacia el inicio
  </ion-button> -->

  <div class="centered-content">

    <img src="https://i.ibb.co/MZws5bc/Logo.png" alt="readcycleLogo" class="logo">
    <h1>!Bienvenido a ReadCycle!</h1>

  </div>

</ion-content>


<ion-card class="botonesCentrados">
  <h3 > Puedes iniciar sesión con </h3>
  <br>
  <ion-buttons class="listarBotones">
    <ion-button (click)="loginWithGoogle()" class="border google-button">
      <img slot="start" src="https://i.ibb.co/MGSvnXL/Google.png" alt="Google" class="icono-boton">
      <span>Continuar con Google</span>
    </ion-button>
    <ion-button (click)="loginWithTwitter()" class="border twitter-button">
      <img slot="start" src="https://i.ibb.co/pWsYy1h/twitter.png" alt="Twitter" class="icono-boton">
      <span>Continuar con  X (Twitter)</span>
    </ion-button>
    <ion-button (click)="loginWithFacebook()" class="border facebook-button">
      <img slot="start" src="https://i.ibb.co/pLQLgFD/facebook.png" alt="Facebook" class="icono-boton">
      <span>Continuar con Facebook</span>
    </ion-button>

  </ion-buttons>
</ion-card>

