<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="login()" expand="block" fill="outline" shape="round">
    hacia el inicio
  </ion-button> -->

  <div class="centered-content">

    <img src="https://i.ibb.co/MZws5bc/Logo.png" alt="readcycleLogo">
    <h1>!Bienvenido a ReadCycle!</h1>
    <br>
  </div>

<h3>Puedes iniciar sesión con:</h3>
</ion-content>

<ion-card class="botonesCentrados">
  
  <ion-buttons>
    <ion-button (click)="loginWithGoogle()" class="border">
      <img slot="start" src="https://i.ibb.co/MGSvnXL/Google.png" alt="Google" class="icono-boton">
      <p>Google</p>
    </ion-button>
    <ion-button (click)="loginWithFacebook()" class="border">
      <img slot="start" src="https://i.ibb.co/pLQLgFD/facebook.png" alt="Facebook" class="icono-boton">
      <p>Facebook</p>
    </ion-button>
    <ion-button (click)="loginWithTwitter()" class="border">
      <img slot="start" src="https://i.ibb.co/pWsYy1h/twitter.png" alt="Twitter" class="icono-boton">
      <p>X(Twitter)</p>
    </ion-button>
  </ion-buttons>
</ion-card>

