.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .step-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .step-image {
    max-width: 60%; /* Ajusta el tamaño al 60% */
    margin: 0 auto;
    display: block;
  }
  
  .step-text {
    font-size: 16px;
    color: #333;
  }
  