<ion-header>
  <ion-toolbar color="readcyclecolor">
    <ion-title>Permiso de Ubicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal(false)">
        <ion-icon name="close-circle-outline"></ion-icon>
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <div class="text-center mb-4">
      <h3 class="text fw-bold">¡Hola!</h3>
      <p class="lead">
        Necesitamos acceder a tu ubicación aproximada para poder publicar el libro.
        No te preocupes, no estamos guardando tu ubicación real; usamos un sistema de aproximación de
        <b>10 km</b> solo para mostrar un radio en la comuna. ¡Tu privacidad está segura con nosotros!
      </p>
    </div>

    <!-- Mostrar los pasos con sus respectivas imágenes -->
    <div *ngFor="let paso of pasos; let i = index" class="step-container">
      <img
        [src]="imagenes[i]"
        alt="Paso {{ i + 1 }}"
        class="step-image mb-2 rounded shadow-sm"
      />
      <p class="text-start step-text"><b>Paso {{ i + 1 }}:</b> {{ paso }}</p>
    </div>

    <!-- Mensaje final -->
    <div class="text-center mt-4">
      <p class="text-secondary fw-bold">
        Una vez completados los pasos, proceda a publicar.
      </p>
    </div>
  </div>
</ion-content>
