<ion-header [translucent]="true">
  <ion-toolbar color="readcyclecolor">
    <ion-title class="ion-text-center">
      <ion-text>Publicar Libro</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <form (ngSubmit)="guardarPublicacion()" class="publication-form">
      <!-- Sección de Imágenes -->
      <div class="upload-section ion-margin-bottom">
        <ion-label class="section-title">Imágenes del Libro</ion-label>
        <div class="image-upload-container">
          <div class="thumbnails-container">
            <ion-thumbnail class="upload-thumbnail" *ngFor="let preview of imagePreviewUrls; let i = index">
              <img [src]="preview" [alt]="'Imagen ' + (i + 1)" />
              <ion-button fill="clear" class="delete-button" (click)="removeImage(i)">
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-thumbnail>
            <ion-thumbnail class="upload-thumbnail" *ngIf="imagePreviewUrls.length < 3">
              <ion-icon name="camera"></ion-icon>
              <input type="file" (change)="onFilesSelected($event)" multiple accept="image/*" class="file-input" />
            </ion-thumbnail>
          </div>
          <ion-text class="upload-text" *ngIf="imagePreviewUrls.length === 0">
            Toca para subir imágenes
          </ion-text>
          <ion-text class="upload-text" *ngIf="imagePreviewUrls.length > 0">
            Máximo 3 imágenes
          </ion-text>
        </div>
      </div>

      <!-- Sección de Detalles del Libro -->
      <div class="form-section">
        <ion-label class="section-title">Detalles del Libro</ion-label>

        <ion-item class="custom-item">
          <ion-input 
            label="Título del libro" 
            labelPlacement="floating" 
            [(ngModel)]="publicacion.titulolibro" 
            name="titulolibro" 
            required
            class="custom-input">
          </ion-input>
        </ion-item>

        <div class="input-container">
          <ion-item class="custom-item">
            <ion-input 
              label="Género" 
              labelPlacement="floating"
              [(ngModel)]="publicacion.genero" 
              name="genero" 
              (ionInput)="filtrarGeneros($event)"
              class="custom-input">
            </ion-input>
          </ion-item>
          <ion-list *ngIf="mostrarSugerenciasGenero" class="suggestions-list">
            <ion-item *ngFor="let genero of generosFiltrados" (click)="seleccionarGenero(genero)">
              {{ genero }}
            </ion-item>
          </ion-list>
        </div>

        <div class="input-container">
          <ion-item class="custom-item">
            <ion-input 
              label="Autor" 
              labelPlacement="floating"
              [(ngModel)]="publicacion.autor" 
              name="autor" 
              (ionInput)="filtrarAutores($event)"
              class="custom-input">
            </ion-input>
          </ion-item>
          <ion-list *ngIf="mostrarSugerenciasAutor" class="suggestions-list">
            <ion-item *ngFor="let autor of autoresFiltrados" (click)="seleccionarAutor(autor)">
              {{ autor }}
            </ion-item>
          </ion-list>
        </div>

        <ion-item class="custom-item">
          <ion-datetime
            presentation="year"
            [(ngModel)]="publicacion.anio"
            name="anio"
            required
            [max]="maxYear"
            [min]="minYear"
            class="custom-datetime"
            color="readcyclecolor"
            (ionChange)="onYearChange($event)">
            <span slot="title">Selecciona el año</span>
          </ion-datetime>
        </ion-item>

        <ion-item class="custom-item">
          <ion-select 
            label="Estado del libro"
            labelPlacement="floating"
            interface="popover" 
            [(ngModel)]="publicacion.estado" 
            name="estado" 
            required
            class="custom-select">
            <ion-select-option value="Nuevo">Nuevo</ion-select-option>
            <ion-select-option value="Usado">Usado</ion-select-option>
            <ion-select-option value="En mal estado">En mal estado</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <!-- Sección de Información de Contacto -->
      <div class="form-section">
        <ion-label class="section-title">Información de Contacto</ion-label>

        <ion-item class="custom-item">
          <ion-input 
            label="Correo Electrónico" 
            labelPlacement="floating" 
            type="email" 
            placeholder="email@dominio.com" 
            [(ngModel)]="publicacion.correoelectronico" 
            name="correoelectronico" 
            required
            class="custom-input"
            [value]="correo">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-input 
            label="Teléfono celular" 
            labelPlacement="floating" 
            type="tel" 
            placeholder="+569 xxxxxxxx" 
            [(ngModel)]="publicacion.telefono" 
            name="telefono" 
            required 
            pattern="^\+569\d{8}$" 
            class="custom-input"
            [value]="celular">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-input 
            label="Precio (CLP)" 
            labelPlacement="floating"
            type="number" 
            [(ngModel)]="publicacion.precio" 
            name="precio" 
            required
            class="custom-input">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-textarea 
            label="Descripción" 
            labelPlacement="floating" 
            autoGrow="true" 
            [(ngModel)]="publicacion.descripcion" 
            name="descripcion" 
            required
            class="custom-textarea">
          </ion-textarea>
        </ion-item>
      </div>

      <ion-button 
        expand="block" 
        shape="round" 
        color="readcyclecolor" 
        type="submit"
        class="submit-button ion-margin-top">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Publicar Libro
      </ion-button>
    </form>
  </div>
</ion-content>
