<ion-header [translucent]="true" >
  <ion-toolbar color="readcyclecolor">
    <ion-title>
      Publicar
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Formulario -->
  <div>
    <h2></h2>

    <form (ngSubmit)="guardarPublicacion()">

      <ion-item>
        <input type="file" (change)="onFilesSelected($event)" multiple accept="image/*" />
      </ion-item>
  
      <ion-item>
        <ion-input label="Título del libro" labelPlacement="floating" [(ngModel)]="publicacion.titulolibro" name="titulolibro" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Autor" labelPlacement="floating" [(ngModel)]="publicacion.autor" name="autor" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Género" labelPlacement="floating" [(ngModel)]="publicacion.genero" name="genero" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Año" labelPlacement="floating" type="number" maxlength="4" (ionInput)="validateLength($event)" [(ngModel)]="publicacion.anio" name="anio" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select interface="popover" [(ngModel)]="publicacion.estado" name="estado" required>
          <ion-select-option value="Nuevo">Nuevo</ion-select-option>
          <ion-select-option value="Usado">Usado</ion-select-option>
          <ion-select-option value="En mal estado">En mal estado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Correo Electrónico" labelPlacement="floating" type="email" placeholder="email@dominio.com" [(ngModel)]="publicacion.correoelectronico" name="correoelectronico" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Teléfono celular" labelPlacement="floating" type="tel" placeholder="+569" [(ngModel)]="publicacion.telefono" name="telefono" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Precio </ion-label>
        <ion-input type="number" [(ngModel)]="price" [(ngModel)]="publicacion.precio" name="precio" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Descripción" labelPlacement="floating" autoGrow="true" style="min-height: 150px;" [(ngModel)]="publicacion.descripcion" name="descripcion" required></ion-textarea>
      </ion-item>


    </form>
    <ion-button expand="full" shape="round" color="readcyclecolor" (click)="guardarPublicacion()">Enviar</ion-button>
  </div>

</ion-content>