<ion-header [translucent]="true">
  <ion-toolbar color="readcyclecolor">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPublicaciones()" animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Grid de Publicaciones -->
  <div class="publicaciones-grid">
    <ion-card *ngFor="let publicacion of filteredPublicaciones" (click)="abrirModal(publicacion)" class="card-detalles">

      <!-- Imagen Principal de la Publicación -->
      <div *ngIf="publicacion.imagenesUrl && publicacion.imagenesUrl.length > 0; else noImages" class="image-container">
        <img [src]="publicacion.imagenesUrl[0]" alt="Imagen del libro" class="main-image" />

        <!-- Botón de Favoritos en la esquina superior izquierda -->
        <ion-button fill="clear" [color]="publicacion.esFavorito ? 'danger' : 'large'" class="favorite-btn"
          (click)="onAnadirAFavoritos(publicacion, $event)">
          <ion-icon [name]="publicacion.esFavorito ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>

        <!-- Precio en la esquina superior derecha -->
        <div class="price-tag">
          {{ publicacion.precio === 0 ? 'Intercambio' : (publicacion.precio | currency:'$':'symbol':'1.0-0') }}
        </div>
      </div>

      <!-- Contenido del Card -->
      <ion-card-header class="card-content">
        
        <ion-card-title>{{ publicacion.titulolibro }}</ion-card-title>
        <ion-card-subtitle>Publicado hace {{ calcularTiempoTranscurrido(publicacion.fechaCreacion) }}</ion-card-subtitle>
        <ion-card-subtitle> {{ publicacion.comuna }}</ion-card-subtitle>
      </ion-card-header>

      <!-- Plantilla en caso de que no haya imágenes -->
      <ng-template #noImages>
        <div class="no-image">
          <ion-icon name="image-outline" size="large"></ion-icon>
        </div>
      </ng-template>
    </ion-card>
  </div>
</ion-content>
